<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>
<body>

<div class="container">
    <h2>Login</h2>
    <form id="loginForm" onsubmit="validateForm(event)">
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" id="username" name="userid" required>
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <div class="form-group">
            <input type="submit" value="Login">
        </div>
    </form>
    <p id="errorMessage" style="color: red;"></p>
    <script>
        function validateForm(event) {
            event.preventDefault();
            const form = document.getElementById("loginForm");
            const errorMessage = document.getElementById('errorMessage');
            const username = form.elements["userid"].value;
            const password = form.elements["password"].value;
        
            const PARAMS = {
                "userid": username,
                "password": password
            };
            const url = 'http://127.0.0.1:8000/';
            fetch(url + "find_register", { 
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'Accept': 'application/json'
                },
                body: JSON.stringify(PARAMS)
            })
            .then(response => response.json())
            .then(data => {
                console.log("Response Data:", data);
                if (data && data.length > 0 && data[0].Message =='Success'){
                    console.log("Message: ",data[0].Message);
                    alert("Login Successful");
                    window.location.href = 'login.html';
                    form.reset();
                } else {
                    errorMessage.textContent = "Incorrect Username or Password";
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }
    </script>
</div>

</body>
</html>
